<!doctype html>
<html>
  <head>
    <title>Coming Soon!</title>
  </head>
  <body>
  	<p>What is this new incredible idea?</p>
  	<blockquote>"This is the greatest idea of our time." - Barack Obama
    </blockquote>
    <blockquote>"My life has been meaningless until puppy island." - Bill Gates</blockquote>
    <p>Presenting...</p>
    <h1>PUPPY ISLAND</h1>
    <p>Nothing is better than small adorable animals and warm weather! On this magical island you can pet puppies and live in paradise. Sign up today!</p>
  </body>
</html>